{% extends 'base.html' %} {% load static%} {% load custom_tags %} {% block
content %}
<div>{% include 'sidebar.html' %}</div>

<div class="flex-container">
	<div class="box">
		<div class="account-tickets">
			<h4 class="subtitle">All Tickets</h4>
			<hr />
			<div class="main-text-dash">
				<table class="bordered-table" style="width: 100%">
					<tr class="list-headings">
						<p><th>Project</th></p>
						<p><th>id</th></p>
						<p><th>Date</th></p>
						<p><th>Type</th></p>
						<p><th>Priority</th></p>
						<p><th>Status</th></p>
					</tr>
					{% for ticket in ticket_page %}
					<tr>
						<p>
							<td>
								<a class="ticket-link" href="{% url 'ticket-room' ticket.id %}"
									>{{ticket.title}}</a
								>
								{% include 'ticket_details.html' %}
							</td>
						</p>
						<p><td>{{ticket.id}}</td></p>
						<p><td>{{ticket.created|date:"F d"}}</td></p>

						{% if ticket.type == 'Bug' %}
						<p>
							<td>
								<div class="tps-container">
									<div class="colored-dot">
										<div class="dot" id="bug"></div>
										<div>{{ticket.type}}</div>
									</div>
								</div>
							</td>
						</p>
						{% elif ticket.type == 'Feature' %}
						<p>
							<td>
								<div class="tps-container">
									<div class="colored-dot">
										<div class="dot" id="feature"></div>
										<div>{{ticket.type}}</div>
									</div>
								</div>
							</td>
						</p>
						{% elif ticket.type == 'Modify' %}
						<p>
							<td>
								<div class="tps-container">
									<div class="colored-dot">
										<div class="dot" id="modify"></div>
										<div>{{ticket.type}}</div>
									</div>
								</div>
							</td>
						</p>
						{% endif %} {% if ticket.priority == 'High' %}
						<p>
							<td>
								<div class="tps-container">
									<div class="colored-dot">
										<div class="dot" id="high"></div>
										<div>{{ticket.priority}}</div>
									</div>
								</div>
							</td>
						</p>
						{% elif ticket.priority == 'Low' %}
						<p>
							<td>
								<div class="tps-container">
									<div class="colored-dot">
										<div class="dot" id="low"></div>
										<div>{{ticket.priority}}</div>
									</div>
								</div>
							</td>
						</p>
						{% endif %}
						<p>
							{% if ticket.status == 'Active' %}
							<td><div class="ticket-active">In Progress</div></td>
							{% elif ticket.status == 'Complete' %}
							<td><div class="ticket-complete">Complete</div></td>
							{% elif ticket.status == 'Backlog' %}
							<td><div class="ticket-backlog">Backlog</div></td>
							{% endif %}
						</p>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% include 'pagination.html' %}
			<br />
			<h4 class="subtitle">Ticket Statistics</h4>
			<hr />
			<div class="pie-container">
				<div class="pie-chart">
					<h6 class="chart-text">Type</h6>
					<canvas id="ticketTypeChart"></canvas>
				</div>
				<div class="pie-chart">
					<h6 class="chart-text">Priority</h6>
					<canvas id="ticketPriorityChart"></canvas>
				</div>
				<div class="pie-chart">
					<h6 class="chart-text">Status</h6>
					<canvas id="ticketStatusChart"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
